.mat-card-simplezinho {
    display: inline-block;
    background-color: lightgrey;
    max-width: 300px;
    margin: 10px;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

input {
    margin: 2px;
}